@import '../../../styles/variables';

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  border-radius: 1rem;
  border: 0.3rem solid $color-black;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  align-self: flex-end;
  margin: 0.5rem 0;
  cursor: pointer;
  transform: translate(0.5rem, -0.5rem);
}

.eqBands {
  display: flex;
}

.band {
  display: flex;
  flex-direction: column;
  align-items: center;

  & input {
    width: 5rem;
    -webkit-appearance: slider-vertical;
  }
}

.eqReset {
  margin-top: 1rem;
  padding: 0.2rem 0.3rem;
}

.echo {
  margin-top: 2.5rem;
  margin-bottom: 1rem;

  & *:not(:first-child) {
    margin-left: 2rem;
  }

  & p {
    display: inline-block;
    width: 1.5rem;
  }
}

.echoReset {
  padding: 0.2rem 0.3rem;
}
